swagger: '2.0'
info:
  version: '1.0.0'
  title: Weather API
  description: Display Weather forecast data by latitude and longitude. Get raw weather data OR simple label description of weather forecast of some places.
  termsOfService: http://helloreverb.com/terms/
  contact:
    name: Andrew Johnston
    email: gentleman1@gmail.com
    url: http://swagger.io
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
host: simple-weather.p.mashape.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/text
paths:
  /aqi:
    get:
      description: Air Quality Index
      operationId: getAqi
      produces:
        - application/json
        - application/xml
        - text/xml
        - text/html
      parameters:
        - name: lat
          in: query
          description: lat to filter by
          required: true
          type: number

        - name: long
          in: query
          description: long to filter by
          required: true
          type: number
      responses:
        '200':
          description: aqi response
        default:
          description: unexpected error
          
    
  /weather:
    get:
      description: weather forecast in short label
      operationId: getWeather
      produces:
        - application/json
        - application/xml
        - text/xml
        - text/html
      parameters:
        - name: lat
          in: query
          description: lat to filter on
          required: true
          type: string
          
        - name: long
          in: query
          description: long to filter on
          required: true
          type: string
          
      responses:
        '200':
          description: weather response
          
        default:
          description: unexpected error

  /weatherdata:
      get:
        description: Get weather forecast by Latitude and Longtitude
        operationId: getWeatherData
        produces:
          - application/json
          - application/xml
          - text/xml
          - text/html
        parameters:
          - name: lat
            in: query
            description: lat to filter on
            required: true
            type: string
            
          - name: long
            in: query
            description: long to filter on
            required: true
            type: string
            
        responses:
          '200':
            description: weather response
            
          default:
            description: unexpected error


definitions:
  pet:
    type: object
    required:
      - id
      - name
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      tag:
        type: string
  newPet:
    type: object
    required:
      - name
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      tag:
        type: string
  errorModel:
    type: object
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
